<div class="container-matchday" *ngIf="matchesListData">
    <div class="current-matchday">
        journée {{ matchesListData[0].matchday}}
    </div>
    <div *ngFor="let matchesDate of getMatchesDates()" class="matches-of-day">
        <div class="match-date">
            {{matchesDate | date: 'EEEE d MMMM YYYY': 'fr-FR'}}
        </div>
        <ul class="matches-list">
            <li class="match" *ngFor="let match of fetchMatchesOfDate(matchesDate)">

                <div class="home-team">
                    <span class="tla" [class.winner]="isWinner(match, winners.home)">{{ match.homeTeam.tla}}</span>
                    <span class="short-name"
                        [class.winner]="isWinner(match, winners.home)">{{match.homeTeam.shortName}}</span>
                    <img [src]="match.homeTeam.crest" class="club-logo home-logo" alt="Logo of home team">
                </div>

                <div class="score" *ngIf="matchIsBegan(match); else elseBlock">
                    <span [class.winner]="isWinner(match, winners.home)">{{match.score.fullTime.home}}</span>
                    &nbsp;-&nbsp;
                    <span [class.winner]="isWinner(match, winners.away)">{{match.score.fullTime.away}}</span>
                </div>

                <ng-template #elseBlock>
                    <div class="score">
                        {{match.utcDate | date: 'H:mm': 'fr-FR'}}
                    </div>
                </ng-template>

                <div class="away-team">
                    <img [src]="match.awayTeam.crest" class="club-logo away-logo" alt="Logo of away team">
                    <span class="tla" [class.winner]="isWinner(match, winners.away)">{{ match.awayTeam.tla}}</span>
                    <span class="short-name"
                        [class.winner]="isWinner(match, winners.away)">{{match.awayTeam.shortName}}</span>
                </div>

            </li>
        </ul>
    </div>
</div>