.header {
    display: flex;
    position: fixed;
    width: 100%;
    background: none;
}

.header__logo {
    width: 100px;
}

.header__bar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__bar__socialBar {
    display: flex;
    justify-content: flex-end;
    height: 50%;
    background-color: #091c3e;
}

.header__bar__toolbar {
    display: flex;
    height: 50%;
    background-color: #07c26b;
}

.header__bar__socialBar__button,
.header__bar__toolbar__button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.header__bar__socialBar__button__icon,
.header__bar__toolbar__button__icon {
    margin: 0 8px 0 0;
    height: 25px;
}

.header__bar__socialBar__button:focus,
.header__bar__toolbar__button:focus,
.header__mobileBar__button:focus,
.mobileSidenav__header__closeButton:focus,
.mobileSidenav__toolbar__button {
    outline: none;
}

.header__bar__socialBar__button:last-child {
    margin-right: 15px;
}

.header__bar__socialBar__button:hover,
.mobileSidenav__toolbar__button:hover {
    color: #07c26b;
}

.header__bar__toolbar__button:hover {
    color: #091c3e;
}

.background {
    background: url("../assets/ligue1_background.jpg") no-repeat;
    background-size: cover;
}

.mobileSidenav {
    background-color: #091c3e;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
}

.mobileSidenav__header {
    display: flex;
    justify-content: space-between;
}

.mobileSidenav__header__logo {
    height: 117px;
}

.mobileSidenav__header__closeButton {
    justify-self: end;
    align-self: self-start;
    margin: 20px 20px 0 0;
    font-size: 40px;
    cursor: pointer;
}

.mobileSidenav__toolbar {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
}

.mobileSidenav__toolbar__button {
    font-size: 20px;
    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    cursor: pointer;
}

.mobileSidenav__toolbar__button__icon,
.mobileSidenav__toolbar__button__icon__fff {
    height: 30px;
    margin: 0 20px 0 0;
}

.mobileSidenav__toolbar__button__icon__fff {
    margin: 0px 20px 0 -5px;
}

.mobileSidenav__toolbar__button,
.mobileSidenav__header__closeButton,
.mobileSidenav__toolbar__button__icon__fff {
    font-weight: bold;
    background: none;
    color: white;
    border: none;
}

@media screen and (max-width: 800px) {
    .header {
        align-items: flex-start;
    }

    .header__logo {
        width: 80px;
    }

    .header__mobileBar {
        width: 100%;
        background-color: #091c3e;
        padding: 15px 0;
    }

    .header__mobileBar__button {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 25px;
    }

    .header__mobileBar__button__icon {
        width: 35px;
    }

    .background {
        background-image: none;
        background-color: white;
    }

    @media screen and (max-width: 450px) {
        .header__logo {
            width: 60px;
        }

        .header__mobileBar__button {
            margin-left: 10px;
        }
    }
}
