<header>
    <div class="header">
        <button>
            <span class="material-symbols-outlined">
                menu
            </span>
        </button>
        <a routerLink="" class="app-title-link links">ligue 1</a>
        <a routerLink="" class="links" aria-label="login">
            <span class="material-symbols-outlined">
                account_circle
            </span>
        </a>
    </div>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="footer">
        <span class="links ligue-1-link">Site officiel &nbsp;</span>
        <a href="https://www.ligue1.fr/" target="_blank" class="links ligue-1-link">
            <span id="ligue-1"> ligue 1&nbsp;</span>
            <span id="uber-eats">uber eats</span>
        </a>
        <ul class="social-links">
            <li>
                <a href="https://www.linkedin.com/in/corentin-radureau/" target="_blank">
                    <img src="../../assets/social-logos/LinkedIn-Logos/LI-In-Bug.png" alt="Linkedin logo"
                        class="social-logos">
                </a>
            </li>
            <li>
                <a href="https://github.com/co-radu?tab=repositories" target="_blank">
                    <img src="../../assets/social-logos/github-mark/github-mark-white.svg" alt="Github logo"
                        class="social-logos">
                </a>
            </li>
        </ul>
    </div>
</footer>