@import '../shared/styles/variables.scss';

.app-title-link,
#ligue-1,
.sidenav-links {
    text-transform: uppercase;
}

.container,
header,
footer,
.links-list {
    display: flex;
}

footer,
.container,
.sidenav-links-list {
    flex-direction: column;
}

.ligue-1-link,
.app-title-link,
.sidenav-links {
    font-weight: bold;
}

header,
footer,
.sidenav {
    background-color: $primary;
}

header,
footer {
    align-items: center;
}

.container,
header {
    justify-content: space-between;
}

.container {
    min-height: 100vh;
}

header {
    height: $header-height;
}

.material-symbols-outlined {
    line-height: normal;
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48
}

#account-link {
    visibility: collapse; //Work in progress! Available on v0.2! 
    padding: 1px 6px;
}

.links {
    text-decoration: none;
}

.material-symbols-outlined,
.links {
    color: #FFFFFF;
}

.app-title-link {
    font-size: 1.5rem;
}

.ligue-1-link-container {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#ligue-1,
#uber-eats {
    color: $secondary;
}

#ligue-1 {
    font-size: 1.2rem;
}

#uber-eats {
    text-transform: capitalize;
    font-weight: normal;
}

.links-list {
    list-style: none;
    padding: 0;
}

.social-links {
    margin: 0 12px;
}

.social-logos {
    height: 26px;
    width: 26px;
}

// Sidenav

.sidenav {
    height: calc(100vh - $header-height);
    width: 100vw;
    position: absolute;
    top: $header-height;
    transition: 0.6s;
}

.sidenav-closed {
    left: -100vw;
}

.sidenav-opened {
    left: 0;
}

.sidenav-links-list {
    padding: 0 19px;

    li {
        margin-bottom: 7px;
    }
}

.sidenav-links {
    font-size: 24px;
}

// Desktop screen

@media screen and (min-width: 768px) {

    .menu {
        visibility: collapse;
    }

    .sidenav {
        left: 0;
        height: fit-content;
        transition: none;
    }

    .sidenav-links-list {
        flex-direction: row;
        margin: 0;
        padding-left: 7px;

        li {
            margin-right: 12px;
        }
    }

    .sidenav-links {
        font-size: 20px;
    }
}