@import '../shared/styles/variables.scss';

$margin-list: 22px;

.matches-of-day,
.match-date,
.matches-list,
.match {
  width: 100%;
}

.container-matchday,
.matches-of-day,
.match,
.home-team,
.score,
.away-team {
  display: flex;
}

.container-matchday,
.matches-of-day,
.home-team,
.score,
.away-team {
  align-items: center;
}

.container-matchday,
.matches-of-day {
  flex-direction: column;

}

.current-matchday,
.match-date {
  background-color: $primary;
}

.score,
.home-team,
.away-team {
  width: 76px;
}

.home-team,
.away-team {
  justify-content: space-around;
}

.current-matchday {
  text-align: center;
  font-weight: bold;
  color: $secondary;
  margin: 12px 0;
  padding: 6px 35px;
  border-radius: 15px;
}

.match-date {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 6px 0;
}

.matches-list {
  list-style: none;
  padding: 0;
  margin: $margin-list 0 0 0;
}

.match {
  justify-content: center;
}

.club-logo {
  height: 24px;
  height: 24px;
}

.score {
  justify-content: center;
}

.matches-list .match {
  margin-bottom: $margin-list;
}