<div class="container-matchday" *ngIf="matchesOfCurrentMatchday">
    <div class="current-matchday">
        Journée {{ currentMatchday}}
    </div>
    <div *ngFor="let matchDate of matchDateArray" class="matches-of-day">
        <div class="match-date">
            {{matchDate | date:'EEEE d MMMM YYYY': 'fr-FR'}}
        </div>
        <ul class="matches-list">
            <li class="match" *ngFor="let match of fetchMatchesOfDate(matchDate)">
                <div class="home-team">
                    {{ match.homeTeam.tla | uppercase}}
                    <img [src]="match.homeTeam.crest" class="club-logo" alt="Logo of home team">
                </div>
                <div class="score">
                    {{ match.score.fullTime.home }} -
                    {{ match.score.fullTime.away }}
                </div>
                <div class="away-team">
                    <img [src]="match.awayTeam.crest" class="club-logo" alt="Logo of away team">
                    {{ match.awayTeam.tla | uppercase}}
                </div>
            </li>
        </ul>
    </div>
</div>