@import '../shared/styles/variables.scss';

$radius: 10px;

.btn-container {
    margin: 20px auto 25px;
    width: 80%;
    height: 46px;
    border-radius: $radius;

    .btn {
        background-color: $gray;
        color: #FFFFFF;
        text-transform: uppercase;
        width: 50%;
        height: 100%;
        font-weight: bold;
    }

    .btn_active {
        background-color: $primary;
        color: $secondary;
    }

    .matches-btn {
        border-bottom-right-radius: $radius;
        border-top-right-radius: $radius;
    }

    .standings-btn {
        border-bottom-left-radius: $radius;
        border-top-left-radius: $radius;
    }
}

.none {
    display: none;
}

:host ::ng-deep {

    app-standings>table,
    app-matches-list>.container-matchday {
        margin-bottom: 25px;
    }

    app-standings {

        table {
            height: 800px;
        }

        th {
            text-transform: uppercase;
        }
    }

    app-matches-list {

        .current-matchday {
            display: none;
        }
    }
}